<body class="courses">
	<img id="logo" src="../images/logo-app.png" alt="logo-app" width="255" height="50">
	<div id="container">		
		<a id="back" href="">Back</a>
		<a id="logout" href="">Logout</a>
		<h1>Courses</h1>
		<ul id="list">
			<li class="mainButton">ServerSide Language</li> <div class="tools"><a class="delete" href=""></a> <a href="">Edit</a> </div>
			<li class="mainButton">ServerSide Language</li> <div class="tools"><a class="delete" href=""></a> <a href="">Edit</a> </div>
			<li class="mainButton">ServerSide Language</li> <div class="tools"><a class="delete" href=""></a> <a href="">Edit</a> </div>
			<li class="mainButton">ServerSide Language</li> <div class="tools"><a class="delete" href=""></a> <a href="">Edit</a> </div>
		</ul>
		
		<div id="new"></div>
	</div>

	<!-- jquery -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</body>
</html>











